extends layouts/pug_page-layout

block content
    h1 This is the product page

    a(href='/') Home

    form(action='/admin/product' method='POST')
        input(type='text' name='title')
        button(type='submit') Submit
    if products.length > 0
        each product in products
            ul
                li #{product.title}
    else
        h2 No products available.